body,
html .root {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

.App {
    margin: 0;
    padding: 0;
    color: black;
    color: white;
    background-color: rgb(37, 36, 36);
    overflow-x: hidden !important;
    font-family: sans-serif;
    /* background: linear-gradient(to right bottom, #007bff, #000000); */
}

h1 {
    font-weight: 900;
}

li {
    font-weight: 700;
}

span {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #007bff, #000000);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom right, #007bff, #000000);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(400deg);
    }
}
